@font-face {
    font-family: 'HK Grotesk';
    src: url('hinted-HKGrotesk-Bold.woff2') format('woff2'),
        url('hinted-HKGrotesk-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url('hinted-HKGrotesk-Regular.woff2') format('woff2'),
        url('hinted-HKGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('RobotoSlab-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('RobotoSlab-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}


