@font-face {
    font-family: 'HK Grotesk';
    src: url('hinted-HKGrotesk-Bold.tff') format('tff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url('hinted-HKGrotesk-Regular.tff') format('tff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('RobotoSlab-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('RobotoSlab-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}


