@font-face {
    font-family: 'HK Grotesk';
    src: url("HKGrotesk-Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HK Grotesk';
    font-weight: normal;
    src: url("HKGrotesk-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('RobotoSlab-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('RobotoSlab-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}