.tapona-footer {
    position: relative;
    opacity: 0.73;
    box-shadow: inset 0 1px 0 0 rgba(179, 179, 179, 0.5);
    background-color: #212121;
    width: 100%;

    &__row {
        position: relative;
        width: 100%;
        padding: 30px 100px 30px 100px;

    }

    &__content {
        position: relative;
        text-align: center;


    }

    &__content span {
        position: relative;
        float: center;


    }

    &__text {
        position: relative;
        font-family: "HK Grotesk";
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: right;
        color: #ffffff;
        cursor: pointer;

        &:hover {
            color: #278fdc;

        }

    }

    &__text .terms {
        display: none;

    }
}

.forms {
    position: relative;
    width: 100%;
    display: flex;

    &__subscribe {
        width: 70%;
    }

    &__submit {
        width: 30%;

    }
}

input[type="email"].forms__input {
    width: 100%;
    border-radius: 4px !important;
    background: #f9fcff !important;
    border: none !important;
}
input[type="email"].forms__input::placeholder {
    font-family: "HK Grotesk";
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.14;
    letter-spacing: normal;
    color: #212121;
   width: 100%;
    border-radius: 4px !important;
    background: #f9fcff !important;
    border: none !important;
}


input[type="email"].forms__input::placeholder {
    display: none;
}

input.forms__atag {
    padding: 13px 26px !important;
    border-radius: 7px !important;
    margin-left: -15px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.14;
    letter-spacing: normal;
    color: #ffffff;
    background: #278fdc !important;
    text-transform: uppercase;
    font-family: "Roboto Slab" !important;


}