.hero {
    position: relative;
    text-align: center;
    color: white;
    background-position: 50% 0;    background-size: cover;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;

    &__title {
        position: relative;
        font-size: 72px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        font-family: 'Roboto Slab';
        line-height: 0.42;
        letter-spacing: normal;
        color: #ffffff;
        padding: 20%;
        margin: 0 auto;
        text-transform: uppercase;
        padding-bottom: 30px;
    }

    &__title-plain {
        position: relative;
        font-size: 72px;
        font-family: 'Roboto Slab';
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 0.42;
        letter-spacing: normal;
        color: #ffffff;
        padding-top: 19%;
        margin: 0 auto;
        text-transform: uppercase;
        padding-bottom: 19%;
    }

    &__text {
        font-family: 'HK Grotesk';
        font-size: 24px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.25;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        position: relative;
        padding-bottom: 130px;
        margin-left: 20%;
        margin-right: 20%;
        padding-top: 5%;
    }

    &__arrow {
        padding-bottom: 0px;

        img {
            width: 3%;
            cursor: pointer;

        }
    }
}


.arrow {
    text-align: center;
    margin: 1% 0;
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}